<h1 class="login">LOGIN</h1>
<form id="idForm" method="POST">

    <label for="email">Enter your email</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Enter your password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" id="buttonLog">LOGIN</button>
    <button type="button" id="buttonRegister">REGISTER</button>
    <button type="button" id = "gitHubButton">Ingresar con github</button>
</form>
<div id="userContainer">

</div>
<div id="errorContainer"></div>